@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.subtitle {
  color: darken($main-color, 10);
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.photo {
  //flex-grow: 1;
  flex: 0 0 80%;
  margin-bottom: 1em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex-grow: 1;
  margin-bottom: 2em;
}
