<div class="columns">
  <form #formRef="ngForm" class="column is-6 is-offset-3">
    <h1 class="title">Contact us</h1>

    <div class="field">
      <label for="email" class="label">Email:</label>
      <div class="control">
        <input id="email" type="email" class="input"
               maStartsWithLetter="true" maUsernameAvailable
               required minlength="3" #emailRef="ngModel"
               [class.is-danger]="showErrors(emailRef)"
               [(ngModel)]="contact.email" name="email100">
      </div>
      <div class="help is-info" *ngIf="emailRef.pending">
        wait for validation...
      </div>
      <div class="help is-danger" *ngIf="showErrors(emailRef)">
        <p *ngIf="emailRef.errors.required">This field is required</p>
        <p *ngIf="emailRef.errors.minlength">This field should be longer</p>
        <p *ngIf="emailRef.errors.email">This field should be a correct email</p>
        <p *ngIf="emailRef.errors.usernameAvailable">This username is not available, sorry</p>
        <p *ngIf="emailRef.errors.startsWithLetter">This field should start with letter (and you've started with <b>{{emailRef.errors.startsWithLetter}}</b>, dummy)</p>
      </div>
    </div>

    <div class="field">
      <label for="message" class="label">Message:</label>
      <div class="control">
        <textarea id="message" class="textarea" #messageRef="ngModel"
                  minlength="5" [class.is-danger]="showErrors(messageRef)"
                  [(ngModel)]="contact.message" name="message"></textarea>
      </div>
      <p class="help is-danger" *ngIf="showErrors(messageRef)">This field is required</p>
    </div>

    <button class="button is-primary is-pulled-right"
      (maSubmitIfValid)="send()">
      Send
    </button>
  </form>
</div>
