<div class="columns">
  <ma-poster class="column is-4" [show]="show" size="lg"></ma-poster>

  <div class="column">
    <h1 class="title">{{show?.name}}</h1>
    <section [innerHTML]="show?.summary"></section>

    <table class="table">
      <thead>
      <tr>
        <th>Episode</th>
        <th>Title</th>
        <th>Air date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let episode of show?._embedded.episodes">
        <td>{{episode | episodise:true}}</td>
        <td>{{episode.name}}</td>
        <td>{{episode.airdate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
