<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-tab" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="navbar-item is-tab" routerLink="/tv" routerLinkActive="is-active">TV Shows</a>
        <a class="navbar-item is-tab" routerLink="/contact" routerLinkActive="is-active">Contact</a>
      </div>

      <div class="navbar-end">
        <ma-loading class="navbar-item">loading...</ma-loading>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <ma-notifications></ma-notifications>
  <router-outlet></router-outlet>
</div>
