<div class="columns">
  <div class="column is-3">
    <h2 class="subtitle">Bookmarks</h2>
    <div class="columns is-multiline">
      <!-- TODO: handle length = 0 -->
      <ng-container *ngIf="(bookmarks$ | async) as bookmarks; else noBookmarks">
        <div class="column is-6" *ngFor="let show of bookmarks" @zoomInOut>
          <ma-poster [show]="show" size="md">
            <ma-bookmark-remove [item]="show"></ma-bookmark-remove>
          </ma-poster>
        </div>
      </ng-container>
      <ng-template #noBookmarks>
        <div class="help is-warning">No Bookmarks Yet</div>
      </ng-template>
    </div>
  </div>

  <div class="column">
    <h2 class="subtitle">Find a show</h2>
    <form [formGroup]="form" class="field has-addons">
      <div class="control is-expanded">
        <input [class.is-danger]="form.invalid" formControlName="query" type="search" class="input">
      </div>
      <div class="control">
        <button [class.is-loading]="form.pending" [disabled]="form.invalid" class="button is-primary"
                (click)="click$.next()">
          <i class="fa fa-search"></i>
          search
        </button>
      </div>
      <!--<span *ngIf="form.pending">czekaj no...</span>-->
    </form>

    <div [@staggerDown]="shows?.length" class="columns is-multiline results">
      <!-- (click)="toggleOpaque($event.target)" -->
      <ma-poster  #bookmarkedRef="bookmarked" [maBookmarked]="show" [show]="show" class="column is-4" *ngFor="let show of shows">
        <ma-bookmark-add [item]="show"></ma-bookmark-add>
        <ma-bookmark-remove [item]="show"></ma-bookmark-remove>
      </ma-poster>
    </div>
  </div>
</div>
